<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="com.stock.yechanup.mapper.YeChanupMapper">    

   
    <select id="userSelectOne" resultType="com.stock.yechanup.vo.Member">
    <!-- 고객 한명을 조회하는 쿼리문 --> 
        SELECT 
            member_id as memberId
            ,member_pw as memberPw
            ,member_name as memberName
        FROM member
        WHERE member_id = #{memberId}
    </select>
    <insert id="memberInsert" parameterType="com.stock.yechanup.vo.Member">
    <!-- 회원가입 쿼리문 -->
    	INSERT
    	INTO member(
    		member_id
    		,member_pw
    		,member_name
    		,member_address
    		,member_phone
    		,branch_code
    	) VALUES(
    			#{memberId}
    			,#{memberPw}
    			,#{memberName}
    			,#{memberAddress}
    			,#{memberPhone}
    			,#{branchCode}	
    	)
    </insert>

</mapper>

