<form id="memberAddForm" action = "/memberInsert" method="post">
아이디:<input id="memberId" type="text" name="memberId"><br>
비밀번호 :<input id="memberPw" type="text" name="memberPw"><br>
이름 :<input id="memberName" type="text" name="memberName"><br>
주소 :<input id="memberAddress" type="text" name="memberAddress"><br>
전화번호 :<input id="memberPhone" type="text" name="memberPhone"><br>
지점코드 :<select name="branchCode">
	   	<option value="branch01">1팀(branch01)
	   	<option value="branch02">2팀(branch02)
		<option value="branch03">3팀(branch03)
	   </select>
<br>
<input id="memberbtn" type="submit" value="회원가입양식제출">
</form>