<html xmlns:th= "http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
				
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
	
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="text-center"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">주문계좌선택</h1>
              </div>
              
<!-- 아이디에 해당하는 계좌목록을 보여주고 계좌 선택시 post방식으로 orderAccount로 이동요청 -->
<div class="text-center">
<!-- 선택된 계좌 별 출력되는 종목코드에 대한 수량 입력 -->
<form id="orderCount" action = "orderCount" method="post">
당신의 예수금 : <span id="accountDeposit" th:text="${account.accountDeposit}"></span>

<div th:if = "${substrAccountNumber} == 01">
<input id="categoryCode" type ="hidden" name="categoryCode" value="01">
종목코드 01 금일 가격 : 10,000원
</div>
<div th:if = "${substrAccountNumber} == 02">
<input id="categoryCode" type ="hidden" name="categoryCode" value="02">
종목코드 02 금일 가격 : 20,000원
</div>
<div th:if = "${substrAccountNumber} == 03">
<input id="categoryCode" type ="hidden" name="categoryCode" value="03">
종목코드 03 금일 가격 : 30,000원
</div>
수량 : <input id="orderAmount" type="text" name="orderAmount">

<input type="hidden" name="accountNumber" th:value="${accountNumber}">
<input id="orderCountBtn" type="submit" value="수량선택완료">
<span id="Amount"></span>
</form>
 </div>
 </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>


